pipeline/NotifiyTeamsChannelPipeline.json
{
	"name": "NotifiyTeamsChannelPipeline",
	"properties": {
		"activities": [
			{
				"name": "Set JSON Schema",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCard",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipline Name:\",\n                    \"value\": \"@{pipeline().parameters.pipelineName}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Execution Finish Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.executionEndTime}\"\n                },\n                {\n                    \"name\": \"Execution Duration (s):\",\n                    \"value\": \"@{pipeline().parameters.runDuration}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Detailed Decription:\",\n                    \"value\": \"@{pipeline().parameters.detailedDescription}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{convertTimeZone(utcnow(),'UTC','Singapore Standard Time')}\"\n                },\n                {\n                    \"name\": \"Process Id:\",\n                    \"value\": \"@{pipeline().parameters.processId}\"\n                }                ,\n                {\n                    \"name\": \"Phase Id:\",\n                    \"value\": \"@{pipeline().parameters.phaseId}\"\n                },\n                {\n                    \"name\": \"Usecase Id:\",\n                    \"value\": \"@{pipeline().parameters.usecaseId}\"\n                },\n                {\n                    \"name\": \"Category:\",\n                    \"value\": \"@{pipeline().parameters.category}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://synapse.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Teams Webhook URL for Support",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Send Notification to Business",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().parameters.supportTeamWebhookUrl",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "adfiradbplt001",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@json(variables('messageCard'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send Notification to Business",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set JSON Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(pipeline().parameters.businessTeamWebhookUrl, null), false, true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Invoke Teams Webhook URL for Business",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@pipeline().parameters.businessTeamWebhookUrl",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "adfiradbplt001",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "@json(variables('messageCard'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string"
			},
			"resourceGroup": {
				"type": "string"
			},
			"runId": {
				"type": "string"
			},
			"pipelineName": {
				"type": "string"
			},
			"triggerTime": {
				"type": "string"
			},
			"status": {
				"type": "string"
			},
			"message": {
				"type": "string"
			},
			"executionEndTime": {
				"type": "string"
			},
			"runDuration": {
				"type": "string"
			},
			"supportTeamWebhookUrl": {
				"type": "string",
				"defaultValue": "https://kenvue.webhook.office.com/webhookb2/80341085-ca5b-4cd4-9299-dd01c39e50cd@7ba64ac2-8a2b-417e-9b8f-fcf8238f2a56/IncomingWebhook/6adf26836f394d60ab4c7c0eea28e113/b96e6ec8-5d95-42c8-9ba2-44a3024dd2ac"
			},
			"detailedDescription": {
				"type": "string"
			},
			"processId": {
				"type": "int"
			},
			"phaseId": {
				"type": "int"
			},
			"usecaseId": {
				"type": "string"
			},
			"category": {
				"type": "string"
			},
			"businessTeamWebhookUrl": {
				"type": "string"
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Logging_And_Notifications"
		},
		"annotations": []
	}
}