pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set JSON Schema business",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set business Webhook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCardBusiness",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Test Webhook URL​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"TESTING new webhook URL​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Execution Start Time (SGT):\",\n                    \"value\": \"2024-10-09T12:27:32.2904645\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"Testing the new webhook URL for sending out notifications, please ignore this alert. Thank you!\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"Download File Attachment\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"https://www.google.com/\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Teams Webhook URL business",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set JSON Schema business",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@variables('businessWebhook')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "adfiradbplt001",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@json(variables('messageCardBusiness'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set business Webhook",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "businessWebhook",
					"value": "https://kenvue.webhook.office.com/webhookb2/08067575-6f4e-4e13-a36c-bc85d41b2896@7ba64ac2-8a2b-417e-9b8f-fcf8238f2a56/IncomingWebhook/39a67f22c5554058b0fdb0a6ca2cf97c/b96e6ec8-5d95-42c8-9ba2-44a3024dd2ac"
				}
			}
		],
		"variables": {
			"businessWebhook": {
				"type": "String"
			},
			"messageCardBusiness": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}