pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set extracted date japan",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "extracted_object",
					"value": {
						"value": "@if(contains(variables('filename'),'OTHERS'),split(variables('filename'), '_')[2],split(variables('filename'),'_')[1])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": "OTHERS_CIAN_20231204_1.csv"
				}
			},
			{
				"name": "Copy data SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT count( *) FROM JPEDI.SELL_OUT_PLANET",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleJapan_pl005",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sql_server_sink",
						"type": "DatasetReference",
						"parameters": {
							"container": "jpn",
							"path": "dev/EDI_TABLES/master/",
							"file": "edi_sample"
						}
					}
				]
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			},
			"extract_name": {
				"type": "String"
			},
			"extract_value": {
				"type": "Integer"
			},
			"extracted_object": {
				"type": "String"
			}
		},
		"annotations": []
	}
}