pipeline/runSQL.json
{
	"name": "runSQL",
	"properties": {
		"activities": [
			{
				"name": "ForEach_load",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.load_fileNames",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web3",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "https://github.com/KV-APAC-DNA/@{pipeline().parameters.RepoName}/blob/@{pipeline().parameters.BranchName}/@{pipeline().parameters.load_folderName}/@{item()}?raw=true",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								}
							}
						},
						{
							"name": "Script4",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Web3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "adfadbplt001lssnfkpltdnaload002",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@activity('Web3').output.Response",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "ForEach_core",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.core_fileNames",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_core",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "https://github.com/KV-APAC-DNA/@{pipeline().parameters.RepoName}/blob/@{pipeline().parameters.BranchName}/@{pipeline().parameters.core_folderName}/@{item()}?raw=true",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script4_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Web_core",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "adfadbplt001lssnfkpltdnacore002",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@activity('Web_core').output.Response",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Script5",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "adfadbplt001lssnfkpltdnaload002",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "create or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_116047_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),\r\n    FILE_NAME VARCHAR(255));\r\n    \r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_RT_MART (\r\n\tVENDOR_CODE VARCHAR(40),\r\n\tVENDOR_NAME VARCHAR(100),\r\n\tPRODUCT_CODE VARCHAR(40),\r\n\tPRODUCT_NAME VARCHAR(100),\r\n\tEAN_CODE VARCHAR(60),\r\n\tSTORE_NO VARCHAR(40),\r\n\tSTORE_NAME VARCHAR(100),\r\n\tDEPARTMENT VARCHAR(40),\r\n\tDEPARTMENT_NAME VARCHAR(100),\r\n\tPOS_DATE DATE,\r\n\tSTOCK_RECEIVE_QTY NUMBER(18,0),\r\n\tSELLING_QTY NUMBER(18,0),\r\n\tINVENTORY_QTY NUMBER(18,0),\r\n\tAVERAGE_SELLING_QTY NUMBER(16,5),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107482_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_120812_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_JU_HJ_LIFE_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tITEMS VARCHAR(100),\r\n\tEAN VARCHAR(50),\r\n\tQTY VARCHAR(50),\r\n\tUNIT VARCHAR(50),\r\n\tTOTAL_SALES VARCHAR(50),\r\n\tSEE VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_120812_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_NU_RI_ZON_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tEAN VARCHAR(50),\r\n\tNAME VARCHAR(100),\r\n\tSTANDARD VARCHAR(30),\r\n\tQTY VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tTOTAL VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_123291_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_134478_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107479_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_132508_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_EC (\r\n\tCUSTOMER_EC_PLATFOM VARCHAR(40),\r\n\tPOS_DATE DATE,\r\n\tPRODUCT_CODE VARCHAR(40),\r\n\tBRAND VARCHAR(40),\r\n\tPRODUCT_NAME VARCHAR(100),\r\n\tQTY NUMBER(18,0),\r\n\tSELLING_AMT_BEFORE_TAX NUMBER(16,5),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_NACF_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tCUSTOMER_CODE VARCHAR(50),\r\n\tACCOUNT_NAME VARCHAR(100),\r\n\tIMS_TXN_DT VARCHAR(50),\r\n\tINSPECTION_DATE VARCHAR(10),\r\n\tSCHEDULED_DATE_OF_PAYMENT VARCHAR(10),\r\n\tSCHEDULED_DELIVERY_NUMBER VARCHAR(50),\r\n\tINNOVATION_DESIGN VARCHAR(10),\r\n\tPB VARCHAR(10),\r\n\tSUB_CUSTOMER_CODE VARCHAR(50),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tECONOMIC_INTEGRATION VARCHAR(50),\r\n\tBUSINESS_NAME VARCHAR(100),\r\n\tSUPPLY_TYPE VARCHAR(10),\r\n\tSYSTEM_CONTRACT_CLASSIFICATION VARCHAR(50),\r\n\tDOCUMENT_SERIAL_NUMBER VARCHAR(10),\r\n\tEAN VARCHAR(50),\r\n\tYEAR_OF_PRODUCTION VARCHAR(10),\r\n\tTRADE_NAME VARCHAR(100),\r\n\tPRODUCT_STANDARD_NAME VARCHAR(30),\r\n\tTAX_CODE_NAME VARCHAR(10),\r\n\tWEARING_WEIGHT VARCHAR(10),\r\n\tQUANTITY_OF_GOODS VARCHAR(10),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tSALES_QTY VARCHAR(50),\r\n\tSUPPLY_AMOUNT VARCHAR(50),\r\n\tPURCHASE_TAX VARCHAR(50),\r\n\tPURCHASE_AMOUNT VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_CARREFOUR (\r\n\tPOS_DATE DATE,\r\n\tGLN VARCHAR(40),\r\n\tVENDOR VARCHAR(40),\r\n\tSTORE_NO VARCHAR(40),\r\n\tSTORE_NAME VARCHAR(100),\r\n\tPRODUCT_CODE VARCHAR(40),\r\n\tPRODUCT_NAME_ENGLISH VARCHAR(100),\r\n\tPRODUCT_NAME_CHINESE VARCHAR(100),\r\n\tEAN_CODE VARCHAR(40),\r\n\tAMOUNT NUMBER(16,5),\r\n\tQTY NUMBER(18,0),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107507_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\n\r\n\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_COSMED (\r\n\tPRODUCT_CODE VARCHAR(40),\r\n\tPRODUCT_NAME VARCHAR(100),\r\n\tWK1_STRT_DT DATE,\r\n\tWK1_END_DT DATE,\r\n\tWK1_QTY NUMBER(18,0),\r\n\tWK2_STRT_DT DATE,\r\n\tWK2_END_DT DATE,\r\n\tWK2_QTY NUMBER(18,0),\r\n\tWK3_STRT_DT DATE,\r\n\tWK3_END_DT DATE,\r\n\tWK3_QTY NUMBER(18,0),\r\n\tWK4_STRT_DT DATE,\r\n\tWK4_END_DT DATE,\r\n\tWK4_QTY NUMBER(18,0),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_116047_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_LOTTE_LOGISTICS_YANG_JU_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tHEAVY_CLASSIFICATION VARCHAR(100),\r\n\tSUB_CLASSIFICATION VARCHAR(100),\r\n\tCODE VARCHAR(50),\r\n\tEAN VARCHAR(50),\r\n\tPRODUCT_NAME VARCHAR(255),\r\n\tACCOUNT_NAME VARCHAR(255),\r\n\tLDU VARCHAR(20),\r\n\tSUPPLY_DIVISION VARCHAR(100),\r\n\tSLS_QTY VARCHAR(50),\r\n\tSLS_AMT VARCHAR(50),\r\n\tSALES_PRIORITY VARCHAR(10),\r\n\tSALES_STORES VARCHAR(50),\r\n\tSALES_RATE VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_DU_BAE_RO_YU_TONG_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tS_NO VARCHAR(10),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tEAN VARCHAR(50),\r\n\tNECK_NAME VARCHAR(100),\r\n\tSTANDARD VARCHAR(50),\r\n\tUNIT VARCHAR(10),\r\n\tQTY VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tTOTAL VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_135307_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107507_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_131953_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_132349_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_132508_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_IL_DONG_HU_DI_S_DEOK_SEONG_SANG_SA_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tCCODE VARCHAR(30),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tGCODE VARCHAR(50),\r\n\tON_SITE_NAME VARCHAR(50),\r\n\tYEAR VARCHAR(10),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tTRANSACTION_NUMBER VARCHAR(50),\r\n\tPRODUCT_CLASSIFICATION VARCHAR(50),\r\n\tPRODUCT_CODE VARCHAR(50),\r\n\tMANAGEMENT_CODE VARCHAR(50),\r\n\tEAN VARCHAR(50),\r\n\tPRIZE_NAME VARCHAR(100),\r\n\tCLASSIFICATION VARCHAR(50),\r\n\tRULES VARCHAR(50),\r\n\tCOLOR VARCHAR(50),\r\n\tDELIVERY_DATE VARCHAR(50),\r\n\tDELIVER VARCHAR(50),\r\n\tFACTORY_STATUS VARCHAR(50),\r\n\tNUMBER_OF_GOODS VARCHAR(50),\r\n\tBOX VARCHAR(50),\r\n\tONE_PIECE VARCHAR(50),\r\n\tQTY VARCHAR(50),\r\n\tWEIGHT VARCHAR(50),\r\n\tLIST VARCHAR(50),\r\n\tUNIT_PRICE_RATE VARCHAR(50),\r\n\tBOX_DANGA VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_GT_DPT_DAISO (\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tSUB_CUSTOMER_CODE VARCHAR(50),\r\n\tCUSTOMER_CODE VARCHAR(50),\r\n    FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_122296_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_LOTTE_AK_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tEAN VARCHAR(50),\r\n\tARTICLE_NAME VARCHAR(100),\r\n\tNORMAL_SALES VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tDC_RATE VARCHAR(50),\r\n\tQTY VARCHAR(50),\r\n\tEVENT_SALES VARCHAR(50),\r\n\tMARGIN_27 VARCHAR(50),\r\n\tMARGIN_22 VARCHAR(50),\r\n\tRECEIPT VARCHAR(50),\r\n\tVND_MARGIN_22 VARCHAR(50),\r\n\tUNIT_PRC_DIFF VARCHAR(50),\r\n\tFIN_UNIT_PRC VARCHAR(50),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107510_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_DAISO_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tYEAR VARCHAR(4),\r\n\tMONTH VARCHAR(2),\r\n\tEAN VARCHAR(50),\r\n\tNAME VARCHAR(100),\r\n\tQTY VARCHAR(50),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tCUST_CD VARCHAR(50),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_135561_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_122296_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_HK_IMS_VIVA_SEL_OUT (\r\n\tCALENDAR_SID DATE,\r\n\tSALES_OFFICE VARCHAR(10),\r\n\tSALES_GROUP VARCHAR(10),\r\n\tSALES_OFFICE_NAME VARCHAR(15),\r\n\tSALES_GROUP_NAME VARCHAR(15),\r\n\tACCOUNT_TYPES VARCHAR(10),\r\n\tSALES_VOLUME NUMBER(21,5),\r\n\tSALES_ORDER_QUANTITY NUMBER(21,5),\r\n\tNET_TRADE_SALES NUMBER(21,5),\r\n\tCUSTOMER_NAME VARCHAR(100),\r\n\tCUSTOMER_NUMBER VARCHAR(15),\r\n\tBASE_PRODUCT VARCHAR(50),\r\n\tVARIANT VARCHAR(60),\r\n\tMVGR1_BASE VARCHAR(10),\r\n\tMVGR2_VARIANT VARCHAR(10),\r\n\tMEGA_BRAND VARCHAR(20),\r\n\tBRAND VARCHAR(30),\r\n\tMVGR4_MEGA VARCHAR(10),\r\n\tMVGR5_BRAND VARCHAR(10),\r\n\tPRODUCT_DESCRIPTION VARCHAR(100),\r\n\tPRODUCT_NUMBER VARCHAR(15),\r\n\tLOCAL_CURR_EXCH_RATE NUMBER(21,5),\r\n\tEMPLOYEE VARCHAR(10),\r\n\tEMPLOYEE_NAME VARCHAR(50),\r\n\tTRANSACTIONTYPE VARCHAR(10),\r\n\tRETURN_REASON VARCHAR(30),\r\n\tCOUNTRY_CODE VARCHAR(2),\r\n\tCURRENCY VARCHAR(3),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_132222_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_POYA (\r\n\tVENDOR_CODE VARCHAR(40),\r\n\tDEPARTMENT VARCHAR(40),\r\n\tCATEGORY_SMALL VARCHAR(40),\r\n\tCUSTOMER_PRODUCT_CODE VARCHAR(40),\r\n\tEAN_CODE VARCHAR(40),\r\n\tPRODUCT_DESCRIPTION VARCHAR(100),\r\n\tSELLING_QTY NUMBER(18,0),\r\n\tSELLING_AMT NUMBER(16,5),\r\n\tINVENTORY NUMBER(18,0),\r\n\tCHANGE_CODE VARCHAR(40),\r\n\tCHANGE_DATE DATE,\r\n\tSTART_DATE DATE,\r\n\tEND_DATE DATE,\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\n\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_DONGBU_LSD_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(50),\r\n\tNUMBER VARCHAR(50),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tTOTAL_AMOUNT VARCHAR(50),\r\n\tTOTAL_ROOM_AMOUNT VARCHAR(50),\r\n\tEAN VARCHAR(50),\r\n\tPRODUCT VARCHAR(100),\r\n\tUNIT VARCHAR(10),\r\n\tQTY VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_ECOMMERCE_TCA_SELLOUT (\r\n\tCUSTOMER_NAME VARCHAR(100),\r\n\tCUSTOMER_CODE VARCHAR(20),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tEAN_NUMBER VARCHAR(20),\r\n\tSAP_CODE VARCHAR(255),\r\n\tSKU_TYPE VARCHAR(20),\r\n\tBRAND_CATEGORIES VARCHAR(255),\r\n\tPRODUCT_NAME VARCHAR(100),\r\n\tYEAR VARCHAR(20),\r\n\tMONTH VARCHAR(20),\r\n\tWEEK VARCHAR(20),\r\n\tTRANSACTION_DATE DATE,\r\n\tSELLOUT_QTY VARCHAR(30),\r\n\tSELLOUT_AMOUNT VARCHAR(30),\r\n\tSOLD_TO VARCHAR(255),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tSOURCE_FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_132349_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_7ELEVEN (\r\n\tPOS_DATE DATE NOT NULL,\r\n\tPRODUCT_CODE VARCHAR(40),\r\n\tPRODUCT_DESCRIPTION VARCHAR(100),\r\n\tSALES_QTY NUMBER(18,0),\r\n\tVENDOR_CODE VARCHAR(40),\r\n\tVENDOR_DESCRIPTION VARCHAR(100),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107485_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(16777216),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(16777216),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(16777216),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(16777216),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(16777216),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(16777216),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(16777216),\r\n\tCRT_DTTM VARCHAR(19) NOT NULL,\r\n\tUPD_DTTM VARCHAR(19) NOT NULL,\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107479_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_136454_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_GT_DAISO_PRICE (\r\n\tDSTR_NM VARCHAR(50),\r\n\tEAN VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107510_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\n\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_NA_ONPACK_TARGET (\r\n\tMATERIAL_NUMBER VARCHAR(50) NOT NULL,\r\n\tDESCRIPTION VARCHAR(200),\r\n\tACCOUNT_GROUP VARCHAR(100) NOT NULL,\r\n\tMONTH VARCHAR(10) NOT NULL,\r\n\tYEAR VARCHAR(10) NOT NULL,\r\n\tTARGET_QUANTITY NUMBER(22,2),\r\n\tCOUNTRY_CODE VARCHAR(20) NOT NULL,\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),\r\n    FILE_NAME VARCHAR(255),\r\n\tprimary key (MATERIAL_NUMBER, ACCOUNT_GROUP, MONTH, YEAR, COUNTRY_CODE))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107485_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107482_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_HK_IMS_WINGKEUNG_SEL_OUT (\r\n\tCALENDAR_SID DATE,\r\n\tSALES_OFFICE VARCHAR(10),\r\n\tSALES_GROUP VARCHAR(10),\r\n\tSALES_OFFICE_NAME VARCHAR(15),\r\n\tSALES_GROUP_NAME VARCHAR(15),\r\n\tACCOUNT_TYPES VARCHAR(10),\r\n\tSALES_VOLUME NUMBER(21,5),\r\n\tSALES_ORDER_QUANTITY NUMBER(18,0),\r\n\tNET_TRADE_SALES NUMBER(21,5),\r\n\tCUSTOMER_NAME VARCHAR(100),\r\n\tCUSTOMER_NUMBER VARCHAR(15),\r\n\tBASE_PRODUCT VARCHAR(50),\r\n\tVARIANT VARCHAR(60),\r\n\tMVGR1_BASE VARCHAR(10),\r\n\tMVGR2_VARIANT VARCHAR(10),\r\n\tMEGA_BRAND VARCHAR(20),\r\n\tBRAND VARCHAR(30),\r\n\tMVGR4_MEGA VARCHAR(10),\r\n\tMVGR5_BRAND VARCHAR(10),\r\n\tPRODUCT_DESCRIPTION VARCHAR(100),\r\n\tPRODUCT_NUMBER VARCHAR(30),\r\n\tLOCAL_CURR_EXCH_RATE NUMBER(21,5),\r\n\tEMPLOYEE VARCHAR(10),\r\n\tEMPLOYEE_NAME VARCHAR(50),\r\n\tTRANSACTIONTYPE VARCHAR(10),\r\n\tRETURN_REASON VARCHAR(30),\r\n\tCOUNTRY_CODE VARCHAR(2),\r\n\tCURRENCY VARCHAR(3),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_132222_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107501_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_135561_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\n\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_107483_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_BO_YOUNG_JONG_HAP_LOGISTICS_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tORIGIN_CODE VARCHAR(50),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tEAN VARCHAR(50),\r\n\tBOOKLET_CODE VARCHAR(50),\r\n\tTRADE_NAME VARCHAR(100),\r\n\tSTANDARD VARCHAR(30),\r\n\tUNIT VARCHAR(10),\r\n\tQTY VARCHAR(50),\r\n\tUNIT_PRICE VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_131953_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_SEL_OUT_123291_SELLOUT (\r\n\tTRANSACTION_DATE DATE,\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_CUSTOMER_CODE VARCHAR(50),\r\n\tDISTRIBUTORS_CUSTOMER_NAME VARCHAR(100),\r\n\tDISTRIBUTORS_PRODUCT_CODE VARCHAR(20),\r\n\tDISTRIBUTORS_PRODUCT_NAME VARCHAR(100),\r\n\tREPORT_PERIOD_START_DATE DATE,\r\n\tREPORT_PERIOD_END_DATE DATE,\r\n\tEAN VARCHAR(20),\r\n\tUOM VARCHAR(10),\r\n\tUNIT_PRICE NUMBER(21,5),\r\n\tSALES_AMOUNT NUMBER(21,5),\r\n\tSALES_QTY NUMBER(21,5),\r\n\tRETURN_QTY NUMBER(21,5),\r\n\tRETURN_AMOUNT NUMBER(21,5),\r\n\tSALES_REP_CODE VARCHAR(20),\r\n\tSALES_REP_NAME VARCHAR(50),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_POS_PX_CIVILA (\r\n\tSTORE_CODE VARCHAR(40),\r\n\tSTORE_NAME_CHINESE VARCHAR(100),\r\n\tPOS_DATE DATE,\r\n\tEAN_CODE VARCHAR(40),\r\n\tCIVILIAN_PRODUCT_CODE VARCHAR(40),\r\n\tBRAND VARCHAR(40),\r\n\tPRODUCT_NAME VARCHAR(100),\r\n\tDC VARCHAR(40),\r\n\tUNIT_PRICE NUMBER(16,5),\r\n\tSTOCK_RECEIVE_QTY_BY_STORE NUMBER(18,0),\r\n\tSTOCK_SELLING_QTY_BY_STORE NUMBER(18,0),\r\n\tSTOCK_INVENTORY_QTY NUMBER(18,0),\r\n\tSTOCK_RETURN_QTY_BY_STORE NUMBER(18,0),\r\n\tSTOCK_RECEIVE_AMT_BY_STORE NUMBER(16,5),\r\n\tSTOCK_SELLING_AMT_BY_STORE NUMBER(16,5),\r\n\tSTOCK_INVENTORY_AMT NUMBER(16,5),\r\n\tSTOCK_RETURN_AMT_BY_STORE NUMBER(16,5),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPD_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_HYUNDAI_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tBURIAL_NAME VARCHAR(20),\r\n\tEAN VARCHAR(50),\r\n\tARTICLE_NAME VARCHAR(100),\r\n\tNORMAL_SALES VARCHAR(10),\r\n\tQTY VARCHAR(10),\r\n\tSALES VARCHAR(30),\r\n\tUNIT_PRICE VARCHAR(30),\r\n\tDC_RATE VARCHAR(50),\r\n\tMARGIN_RATE VARCHAR(50),\r\n\tMARGIN_NORMAL VARCHAR(50),\r\n\tMARGIN_SOLD VARCHAR(50),\r\n\tUNIT_PRC_PRES VARCHAR(50),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107501_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_136454_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(16777216),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(16777216),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(16777216),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(16777216),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(16777216),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(16777216),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(16777216),\r\n\tCRT_DTTM VARCHAR(19) NOT NULL,\r\n\tUPD_DTTM VARCHAR(19) NOT NULL,\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_DA_IN_SANG_SA_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tKEJO VARCHAR(10),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tITEM VARCHAR(100),\r\n\tGYU VARCHAR(50),\r\n\tBIGO VARCHAR(50),\r\n\tQTY VARCHAR(50),\r\n\tPRICE VARCHAR(50),\r\n\tGUM VARCHAR(50),\r\n\tVAT VARCHAR(50),\r\n\tGUMVAT VARCHAR(50),\r\n\tEAN VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_HK_IMS_WINGKEUNG_INV (\r\n\tDATE DATE,\r\n\tSTK_CODE VARCHAR(10),\r\n\tPROD_CODE VARCHAR(18),\r\n\tCHN_DESP VARCHAR(50),\r\n\tCHN_UOM VARCHAR(100),\r\n\tCLOSING FLOAT,\r\n\tAMOUNT FLOAT,\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_KR_JUNGSEOK_GT_SELLOUT (\r\n\tDSTR_NM VARCHAR(50),\r\n\tIMS_TXN_DT VARCHAR(10),\r\n\tS_NO VARCHAR(10),\r\n\tSUB_CUSTOMER_NAME VARCHAR(100),\r\n\tEAN VARCHAR(50),\r\n\tNECK_NAME VARCHAR(100),\r\n\tTHE_RULES VARCHAR(30),\r\n\tMASTER_FILE_NAME VARCHAR(100),\r\n\tQTY VARCHAR(50),\r\n\tAMOUNT VARCHAR(50),\r\n\tTAX VARCHAR(50),\r\n\tTOTAL VARCHAR(50),\r\n\tCUST_CD VARCHAR(50),\r\n\tFILE_NAME VARCHAR(255))\r\n;\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_135307_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),FILE_NAME VARCHAR(255))\r\n;\r\n\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_134478_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9)\r\n,FILE_NAME VARCHAR(255));\r\ncreate or replace TABLE dev_dna_load.NTASDL_RAW.SDL_TW_IMS_DSTR_STD_CUSTOMER_107483_CUSTOMER (\r\n\tDISTRIBUTOR_CODE VARCHAR(10),\r\n\tDISTRIBUTOR_CUSOTMER_CODE VARCHAR(50),\r\n\tDISTRIBUTOR_CUSTOMER_NAME VARCHAR(50),\r\n\tDISTRIBUTOR_ADDRESS VARCHAR(255),\r\n\tDISTRIBUTOR_TELEPHONE VARCHAR(255),\r\n\tDISTRIBUTOR_CONTACT VARCHAR(255),\r\n\tDISTRIBUTOR_SALES_AREA VARCHAR(20),\r\n\tCRT_DTTM TIMESTAMP_NTZ(9),\r\n\tUPDT_DTTM TIMESTAMP_NTZ(9),\r\n    FILE_NAME VARCHAR(255));"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"load_folderName": {
				"type": "string",
				"defaultValue": "PROD_TABLE_SCRIPTS/load"
			},
			"RepoName": {
				"type": "string",
				"defaultValue": "gitadfadbplt001"
			},
			"BranchName": {
				"type": "string",
				"defaultValue": "DDL_DML_Scripts"
			},
			"load_fileNames": {
				"type": "array"
			},
			"core_fileNames": {
				"type": "array"
			},
			"core_folderName": {
				"type": "string",
				"defaultValue": "PROD_TABLE_SCRIPTS/core"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}