pipeline/testWebhookUrl.json
{
	"name": "testWebhookUrl",
	"properties": {
		"activities": [
			{
				"name": "Set JSON Schema business",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set business Webhook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCardBusiness",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Test Webhook URL​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"TESTING new webhook URL​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Execution Start Time (SGT):\",\n                    \"value\": \"2024-10-09T12:27:32.2904645\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"Testing the new webhook URL for sending out notifications, please ignore this alert. Thank you!\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Teams Webhook URL business",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set JSON Schema business",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@variables('businessWebhook')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "adfiradbplt001",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@json(variables('messageCardBusiness'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set business Webhook",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "businessWebhook",
					"value": "https://prod-27.westus.logic.azure.com:443/workflows/68d3ef8bc6aa47be98673021fc2b48d1/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=K6iMHutOYgdGY4AXg8mBL8_kXInZeKyTBUgMTVw98Q8"
				}
			}
		],
		"variables": {
			"businessWebhook": {
				"type": "String"
			},
			"messageCardBusiness": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}