pipeline/WEB_TO_ADLS.json
{
	"name": "WEB_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "for_each_file",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.SourceNTarget",
						"type": "Expression"
					},
					"batchCount": 30,
					"activities": [
						{
							"name": "download_file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "http_binary_src",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@item().source",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BinaryDestination",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.filepath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().target",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "check_404",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "download_file",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(toLower(activity('download_file').error?.message),'404 not found')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "fail",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@activity('download_file').error?.message",
												"type": "Expression"
											},
											"errorCode": {
												"value": "@activity('download_file').errpr?.errorCode",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceNTarget": {
				"type": "array"
			},
			"container": {
				"type": "string"
			},
			"filepath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingestion/Sources/Utilities"
		},
		"annotations": []
	}
}